<!doctype html>
<% if (props.jsPreprocessor.srcExtension !== 'es6' && props.jsPreprocessor.key !== 'typescript') { -%>
<html<% if (includeModernizr) { %> class="no-js"<% } %> ng-app="<%- appName %>">
<% } else { -%>
<html<% if (includeModernizr) { %> class="no-js"<% } %> ng-app="<%- appName %>" ng-strict-di>
<% } -%>
  <head>
    <meta charset="utf-8">
    <title><%- appName %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({<%- props.paths.tmp %>/serve,<%- props.paths.src %>}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({<%- props.paths.tmp %>/serve,<%- props.paths.src %>}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
<% if (includeModernizr) { -%>

    <!-- build:js(<%- props.paths.src %>) scripts/modernizr.js -->
    <script src="<%- computedPaths.appToBower %>/bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
<% } -%>
  </head>
  <body>
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <%- routerHtml %>

    <!-- build:js(<%- props.paths.src %>) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

<% if (props.jsPreprocessor.srcExtension === 'es6') { -%>
    <!-- build:js({<%- props.paths.tmp %>/serve,<%- props.paths.tmp %>/partials}) scripts/app.js -->
<% } else { -%>
    <!-- build:js({<%- props.paths.tmp %>/serve,<%- props.paths.tmp %>/partials,<%- props.paths.src %>}) scripts/app.js -->
<% } -%>
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
