.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.panel {
  margin-top: 50px;
}

.th {
  width: 100%;
  height: 200px;

  img.right {
    width: 50px;
  }
}
