/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  stylus dependencies when defined in the bower.json of your dependencies
 */
// bower:styl
// endbower

@import url("//fonts.googleapis.com/css?family=Roboto\+Slab:400,700|Roboto:400,700,700italic,400italic")

@font-face
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../<%- computedPaths.appToBower %>/bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../<%- computedPaths.appToBower %>/bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../<%- computedPaths.appToBower %>/bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../<%- computedPaths.appToBower %>/bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');

.material-icons
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';

html
  font-family 'Roboto Slab', serif

[layout=row]
  flex-direction row

.browsehappy
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

md-toolbar
  &.md-default-theme
    background-color black

section
  &.jumbotron
    margin-bottom 30px
    padding 1px 30px
    background-color #5aadbb
    text-align center
    color white
    h1
      font-size 3em

.techs
  display flex
  flex-flow row wrap
  md-card
    width 30%
    img
      &.pull-right
        float right
        width 100px

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your stylus files automatically
 */
// injector
// endinjector
