<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title mdl-badge" data-badge="♥">Gulp Angular</span>
  <!-- Add spacer, to align navigation to the right -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <a class="mdl-navigation__link" href="#">Home</a>
    <a class="mdl-navigation__link" href="#">About</a>
    <a class="mdl-navigation__link" href="#">Contact</a>
  </nav>
  <!-- Add spacer, to align navigation to the right -->
  <div class="mdl-layout-spacer"></div>
  <!-- Navigation. We hide it in small screens. -->
  <span class="mdl-navigation__link">Application was created {{ vm.relativeDate }}.</span>
</div>
