<div class="mdl-layout mdl-js-layout mdl-layout__header--waterfall">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">
      Gulp Angular
    </span>
    <div class="navigation-container">
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link mdl-typeography--text-uppercase" href="">Home</a>
        <a class="mdl-navigation__link mdl-typeography--text-uppercase" href="">About</a>
        <a class="mdl-navigation__link mdl-typeography--text-uppercase" href="">Contact</a>
      </nav>
    </div>
  </div>
</div>
